body, html {
	/* use #3f494f for pavela website */
	background-color: #3f494f;
	height: 100%;
	margin: 0 !important;
	padding: 0 !important;
	overflow-x: hidden;
}

.bg-image {
  /* The image used */
	/* Use background-image: url("icons/image.png"); for when you want a banner image */
  /* background-image: url("icons/banner.png"); */

  /* Add the blur effect */
  /* filter: blur(4px);
  -webkit-filter: blur(4px); */

  /* Full height */
  height: 80%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.main {
	font-family: 'Product Sans'; Roboto; Arial;
	text-align: center;
	color: white;
}

.button {
  border-radius: 8px;
  padding: 32px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
	font-family: 'Product Sans'; Roboto; Arial;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
	background-color: #0082ac;
	color: white;
	border: 2px solid #0082ac;
}

.button:hover {
	transform: scale(1.03);
  background-color: #008CBA;
	border-color: #008CBA;
  color: white;
}

.footer {
	font-family: 'Product Sans'; Roboto; Arial;
	font-size: 20px;
  padding: 20px;
  text-align: center;
  background-color: #008CBA;
	color: white;
}

/* :lang(en) {
	display: none;
} */
