body, html {
	background-color: #1c1c1c;
	height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('img_parallax.jpg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image {
  /* The image used */
  background-image: url("https://raw.githubusercontent.com/daniel071/DungeonCli/master/Images/Screenshots/scrollingtext.gif");

  /* Add the blur effect */
  /* filter: blur(4px);
  -webkit-filter: blur(4px); */

  /* Full height */
  height: 80%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
	font-family: 'Product Sans';
	text-align: center;
	color: white;
}

.button {
  border-radius: 8px;
  padding: 32px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
	font-family: 'Product Sans';
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
	background-color: #0082ac;
	color: white;
	border: 2px solid #0082ac;
}

.button:hover {
	font-size: 26px;
  background-color: #008CBA;
	border-color: #008CBA;
  color: white;
}

#downloadLinux {
	display: none;
}
#downloadWindows {
	display: none;
}
#downloadMacOS {
	display: none;
}
#downloadOther {
	display: none;
}

.otherDownloads {
	color: #006B8E;
	font-size: 30px;
	text-decoration: none;
}

.footer {
	font-family: 'Product Sans';
	font-size: 20px;
  padding: 20px;
  text-align: center;
  background-color: #008CBA;
	color: white;
	margin: -20px;
}
