body, html {
  height: 100%;
  background-color: #212121;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  color: white;
}

p {
  font-size: 18px;

}

.center {
  margin: 0;
  /* top: 50%; */
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  text-align: center;
}

.parallax {
  /* The image used *

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* flex-flow: row nowrap; */
  text-align: center;
}

.single-chart {
  padding: 10px;
  width: 400px;
  justify-content: center ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: white;
  font-size: 0.5em;
  text-anchor: middle;
}

#sec {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}
@-webkit-keyframes border {
     from {width: 0px;}
     to {width:100%}
}

#sec:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: white;
  -webkit-animation-name: border; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: border;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
