{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" src="{{StaticUrlPrefix}}/img/gitea-lg.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					Gitea
				</h1>
				<h2>Daniel's self-hosted server!</h2>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-repo" 16}} Purpose
			</h1>
			<p class="large">
				Self-hosting is fun! Gitea is open source and I also prefer the UI.
				I use this for some of my projects.
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-code" 16}} Open Source
			</h1>
			<p class="large">
				Everything here is open source, so feel free to do anything you want
				with the code! (as long as it complies with the license!)
			</p>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-database" 16}} Usage
			</h1>
			<p class="large">
				This server has limited storage and resources. Please keep the repos here
				related to my projects. Unrelated repos are fine as long as they don't take
				too much space. Failure to comply will result in a 24 hour notice before
				deletion.
			</p>
		</div>
		<div class="eight wide center column">
			<h1 class="hero ui icon header">
				{{svg "octicon-lock" 16}} Security
			</h1>
			<p class="large">
				To protect against bruteforce attacks, 3 failed login attempts on Gitea
				will result in a 1 hour ban. 2 failed login attempts on SSH will result
				in a 24 hour ban.
			</p>
		</div>
	</div>
</div>
{{template "base/footer" .}}
